<header>
    <nav>
        <a href="/">Solo me pillo lo roto</a>
        <ul>
            <li><a href="/characters">Personajes</a></li>
            <li><a href="/characters/new">Añadir personaje</a></li>
        </ul>
    </nav>
</header>